<!DOCTYPE html>
{% load compress %}
<!-- Rev. {{GIT_BRANCH}} :: {{GIT_COMMIT}} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title%} {% endblock %}</title>
    <!-- Apple Web App -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    {% compress css %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet">
    {% endcompress %}
    <link href="{{ STATIC_URL }}css/grayscale.css" rel="stylesheet">
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.easing.min.js"></script>
<script src="{{ STATIC_URL }}js/grayscale.js"></script>
</head>

<body {% block body_attrs %}{% endblock body_attrs %}>
    {% block content %}{% endblock %}
</body>

<footer>
    <div class="container text-center">
        <p>Copyright &copy; Dubnio 2014</p>
    </div>
</footer>
</html>
