{% extends "base.html" %}
{% load compress %}

{% block title%}Home{% endblock %}

{% block body_attrs %}
id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Dubnio</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#repo">Repositorios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#instrucciones">Instrucciones</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Retos Públicos</h1>
                        <p class="intro-text">#Reto071<br>
                        Diseñar una aplicación móvil para el envío de reportes de problemas con el Servicio de Luz.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Repo -->
    <section id="repo" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Repositorios</h2>
                <h4 class="text-left">API- WEB</h4>
                <p style="text-align:justify">
                    <a href="https://bitbucket.org/dubnio/cfe-api">https://bitbucket.org/dubnio/cfe-api</a><br>
                    <span>Demo: <a href="/api" target="_blank">http://cfe.herokuapp.com/api</a></span><br>
                    <span>Administrador: <a href="/admin" target="_blank">http://cfe.herokuapp.com/admin</a> (admin/admin)</span>
                </p>
                <h4 class="text-left">iOS app</h4>
                <p style="text-align:justify">
                    <a href="https://bitbucket.org/dubnio/cfe-ios" target="_blank">
                    https://bitbucket.org/dubnio/cfe-ios</a><br>
                    <span>Video demostrativo: <a href="https://www.youtube.com/watch?v=3CIZM616fb4" target="_blank"> <i class="fa fa-youtube-square"></i> Youtube</a> o <a href="https://vimeo.com/112142507" target="_blank"> <i class="fa fa-vimeo-square"></i> Vimeo</a></span>
                </p>
                <h4 class="text-left">Android app</h4>
                <p style="text-align:justify">
                    <a href="https://bitbucket.org/dubnio/cfe-android" target="_blank">https://bitbucket.org/dubnio/cfe-android</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="instrucciones" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Instalación iOS </h2>
                <p>Enviar un correo a <a href="mailto:me@netoxico.com">me@netoxico.com</a>, como respuesta recibirá una invitación de <a href="https://www.testflightapp.com/" target="_blank">testflight</a> para guiarlo a través de la instalación.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
