{% extends "admin/base.html" %}
{% block title %}
    Dashboard
{% endblock title %}

{% block extrastyle %}
<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/ui.spinner.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.mousewheel.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/charts/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/charts/jquery.flot.pie.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/charts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/tables/jquery.sortable.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/tables/jquery.resizable.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/autogrowtextarea.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.uniform.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.maskedinput.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.autotab.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.chosen.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.dualListBox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.cleditor.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/forms/jquery.ibutton.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/uploader/jquery.plupload.queue.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/wizards/jquery.form.wizard.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/wizards/jquery.validate.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/wizards/jquery.form.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.tipsy.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.progress.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.fileTree.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.sourcerer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/others/jquery.fullcalendar.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/others/jquery.elfinder.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/files/bootstrap.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/charts/chart.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/charts/bar.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/charts/hBar.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/charts/updating.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/charts/pie.js"></script>


{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">Inicio</a>
          <span class="divider">&raquo;</span>
          </li>
          <li class="active">
          Dashboard
        </li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Content begins -->
    <div class="contentTop">
        <span class="pageTitle"><span class="icon-stats-up"></span>Graphs and charts</span>
        <ul class="quickStats">
            <li>
                <a href="" class="blueImg"><img src="{{STATIC_URL}}images/icons/quickstats/plus.png" alt="" /></a>
                <div class="floatR"><strong class="blue">5489</strong><span>visits</span></div>
            </li>
            <li>
                <a href="" class="redImg"><img src="{{STATIC_URL}}images/icons/quickstats/user.png" alt="" /></a>
                <div class="floatR"><strong class="blue">4658</strong><span>users</span></div>
            </li>
            <li>
                <a href="" class="greenImg"><img src="{{STATIC_URL}}images/icons/quickstats/money.png" alt="" /></a>
                <div class="floatR"><strong class="blue">1289</strong><span>reports</span></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    <!-- Breadcrumbs line -->
    <!--<div class="breadLine">

        <div class="breadLinks">
            <ul>
                <li><a href="#" title=""><i class="icos-list"></i><span>Orders</span> <strong>(+58)</strong></a></li>
                <li><a href="#" title=""><i class="icos-check"></i><span>Tasks</span> <strong>(+12)</strong></a></li>
                <li class="has">
                    <a title="">
                        <i class="icos-money3"></i>
                        <span>Invoices</span>
                        <span><img src="{{STATIC_URL}}images/elements/control/hasddArrow.png" alt="" /></span>
                    </a>
                    <ul>
                        <li><a href="#" title=""><span class="icos-add"></span>New invoice</a></li>
                        <li><a href="#" title=""><span class="icos-archive"></span>History</a></li>
                        <li><a href="#" title=""><span class="icos-printer"></span>Print invoices</a></li>
                    </ul>
                </li>
            </ul>
             <div class="clear"></div>
        </div>
    </div>-->

    <!-- Main content -->
    <div class="wrapper">
        <!-- <ul class="middleNavR">
            <li><a href="#" title="Add an article" class="tipN"><img src="{{STATIC_URL}}images/icons/middlenav/create.png" alt="" /></a></li>
            <li><a href="#" title="Upload files" class="tipN"><img src="{{STATIC_URL}}images/icons/middlenav/upload.png" alt="" /></a></li>
            <li><a href="#" title="Add something" class="tipN"><img src="{{STATIC_URL}}images/icons/middlenav/add.png" alt="" /></a></li>
            <li><a href="#" title="Messages" class="tipN"><img src="{{STATIC_URL}}images/icons/middlenav/dialogs.png" alt="" /></a><strong>8</strong></li>
            <li><a href="#" title="Check statistics" class="tipN"><img src="{{STATIC_URL}}images/icons/middlenav/stats.png" alt="" /></a></li>
        </ul> -->

        <div class="widget chartWrapper">
            <div class="whead"><h6>Charts</h6><div class="clear"></div></div>
            <div class="body"><div class="chart"></div></div>
        </div>

        <div class="fluid">

            <!-- Bars chart -->
            <div class="widget grid6 chartWrapper">
                <div class="whead"><h6>Vertican bars</h6><div class="clear"></div></div>
                <div class="body"><div class="bars" id="placeholder1"></div></div>
            </div>

            <!-- Bars chart -->
            <div class="widget grid6 chartWrapper">
                <div class="whead"><h6>Horizontal bars</h6><div class="clear"></div></div>
                <div class="body"><div class="bars" id="placeholder1_h"></div></div>
            </div>

        </div>

        <div class="fluid">

            <!-- Donut -->
            <div class="widget grid4 chartWrapper">
                <div class="whead"><h6>Donut chart</h6><div class="clear"></div></div>
                <div class="body"><div class="pie" id="donut"></div></div>
            </div>

            <!-- Auto updating chart -->
            <div class="widget grid8 chartWrapper">
                <div class="whead"><h6>Auto updating chart</h6><div class="clear"></div></div>
                <div class="body"><div class="updating"></div></div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    <!-- Main content ends -->
{% endblock content %}
