{% extends "rest_framework/base.html" %}

{% block title %}CFE - API{% endblock %}

{% block branding %}
<a class='brand' rel="nofollow" href='#'>
    CFE - API <small style='font-size:0.6em'>RetoMX Prototype</small>
</a>
{% endblock %}

{% block style %}
{{ block.super }}
<style>
.navbar .navbar-inner {
    border-top: 5px solid #08aa5e;
    background: white;
}
.navbar-inverse .brand{
    color: #333;
}
.brand:hover{
    color: #000 !important;
}
.navbar .navbar-inner .nav li a,
.navbar .navbar-inner .nav li{
    color:#08aa5e;
}
</style>
{% endblock style %}

{% block footer %}{% endblock %}
